li{
    color: orange;

}
h1{
    text-align: center;
}
img{
    /* max-width: 500px ;*/
    display: block;
    margin: auto;
}

/* # means we are targeting an ID */
#mainImageContainer{
    background-color: black;
    height: 300px;
    overflow: hidden;
}

/* child selector - styles only direct children that are img of #mainImageContainer */
#mainImageContainer > img{
    object-fit: cover;
    width: 100%;
}

/* descendant selector */
#jamesList li{
    list-style-type: none;
}

/* class selector (.)*/
.styled-li{
    list-style-type: decimal;
    font-weight: bold;
    font-style: italic;
    color: green;
}

.styled-li:first-of-type{
    color: blue;
}

.odd{
    background-color: yellow;
}