
* {
    box-sizing: border-box;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main sidebar";
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
  }

  header {
    grid-area: header;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  aside {
    grid-area: sidebar;
    display: flex;
    background-color: gray;
    flex-direction: column;
    justify-content: space-evenly;
  }

  main {
    grid-area: main;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    overflow: auto;
  }

  .image-container {
    position: relative;
    width: 500px; /* Set the size of the image container */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  /* Full-screen expanded state */
.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: rotate(360deg);
  z-index: 1;
}