.tableimg {
    max-width: 400px;
    max-height: 500px;
}
th,
      td {
        padding: 25px;
      }
      th {
        background-color: black;
        color: white;
        border: 1px;
        border-right-style: solid;
      }
      tr {
        border: 1px;
        border-style: solid;
      }
      td {
        border: 1px;
        border-right-style: solid;
        padding: 2px 25px;
      }

      table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        text-align: center;
      }
#evilHeader:hover{
  background: linear-gradient(to bottom, red, yellow);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
}

#dope {
  transition: transform .7s ease-in-out;
}
#dope:hover {
  transform: rotate(360deg);
}

p::first-letter{
  font-size: xx-large;
}